#option-bar {
	display: flex;
	justify-content: space-around;
	/*width: 100%;*/
	height: 30px;
	/*background: rgb(5,5,5);
	background: linear-gradient(180deg, rgba(5,5,5,1) 0%, rgba(29,29,29,1) 78%, rgba(59,59,59,1) 100%);*/
}
.sticky {
	position: sticky;
	top: 0;
	width: 100%;
}
#option-bar a {
	display: flex;
	justify-content: center;
	width: 100%;
	color: white;
	background-color: black;
	text-decoration: none;
	font: normal 12px Verdana, Arial, sans-serif;
	align-items: center;
	/* transition: background-image 1s; */
}
/* #option-bar a:hover {
	background: radial-gradient(at bottom, rgba(59,59,59,1),rgba(29,29,29,1),rgba(5,5,5,1));
} */
.header-wrapper {
	position:relative;
}
.page-header {
	display: flex;
	justify-content:  center;
	background-image: url("pics/top-bg.jpg");
	background-size: 100%;
	background-position: 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 10%;
	/*filter: blur(2px);*/
	-webkit-filter: blur(2px);
}
.title-text {
	position: absolute;
	font: normal 100% Verdana, Arial, sans-serif;
	color: white;
	top: 0%;
	height: 50%;
	border-radius: 50%;
	/*align-self: center;*/
}
.product {
	/* border: solid black; */
	border-radius: 4px;
	/* border-width: 1px; */
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	transition: 1s;
}
.product img {
	display: block;
	border-radius: 4px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
}
.product p {
	display: block;
	margin-left: 5%;
}
.product:hover {
	/* border: solid black; */
	border-radius: 4px;
	/* border-width: 1px; */
	box-shadow: 1px 2px 12px rgba(0,0,0,.5);
	cursor: pointer;
}

#search-entry-area {
	display: None;
	width: 0%;
	transition: all 1s;
	/* transition: display 1s; */
}

/* #search-entry-area:hover {
	width: 90%;
} */
#product-area {
	display: grid;
	padding-top: 2%;
	grid-column-gap: 2%;
	grid-row-gap: 2%;
	grid-template-columns: auto auto auto;
}
#search-area {
	display: inline-flex;
	justify-content: center;
	background: rgb(5, 5, 5);
	align-items: center;
	width: 100%;
}
#banner {
	width: 100%;
	height: 350px;
	background-image: url("pics/pic1.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	transition: background-image 1s;
}